* {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}

body {
  min-width: 100vh;
  min-height: 100vh;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}
