/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');


* {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 2.3em;
  position: fixed;
  top: 15px;
  left: 50px;

}

h2 {
  margin: 2.5em auto 0;
  text-align: center;
  font-size: 5em;
}


h3 {
  text-align: center;
  font-size: 2em;
  margin: 0.25em auto 1em;
}

p {
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  top: 70px;
  left: 80px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .flex-son {
  align-self: center;
} */

.btn-startGame {
	background-color: #7800FF;
	color: white;
	font-family: Quicksand;
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
  text-decoration: none;
  margin: 1em auto 0 auto;
	padding: 70px 50px;
  max-width: 600px;
  border: none;
  border-radius: 50%;
}

.btn-startGame:hover {
  background-color: #19FFFC;
  color: #7800FF;
}

.btn-gameOver {
	background-color: #7800FF;
	color: white;
	font-family: Quicksand;
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
  text-decoration: none;
  margin: 1.5em auto 0 auto;
	padding: 20px 50px;
  max-width: 600px;
  border: none;
}

.btn-gameOver:hover {
  background-color: #19FFFC;
  color: #7800FF;
}


span {
  color: #7800FF;
}

body {
  min-width: 100vh;
  min-height: 100vh;
}

canvas {
  /* border: 1px solid black; */
  display: block;
  margin: 0 auto;
  /* background-color: lightgray; */
}

/* .disable {
  display: none;
} */
